.App {
  background-color: rgb(235, 235, 225);
  width: 100%;
  height: auto;
  box-shadow: 0 2px 3px  rgb(59, 58, 58);
  margin-top: 70px;
}

@media(max-width:500px){
  .App{
      width: 100vh;
      height: auto;
      justify-items: center;
      margin-top: 70px;
  }
}


